#one-touch-page,
#create-one-touch-page,
#one-touch-detail-page,
#one-touch-apply-page {
	@extend _default-page;
	margin-top: 0;

	.subheader {
		margin-bottom: 20px;
	}

	.content-row {
		border-top: 1px solid $GRY_LT1;
		padding-top: 20px;
	}

	.section-title {
		width: 100%;
		font-size: 18px;
		font-weight: 600;
		color: $GRY3;
		float: none;
	}

	.no-gateway-text {
		color: $RED1;
	}
}

// detail page
#one-touch-detail-page {
	.enable-checkbox {
		padding-top: 10px;

		.checkbox-text {
			font-size: 18px;
		}
	}

	.edit-link,
	.delete-link {
		font-size: 18px;
	}

	.edit-link {
		&:after {
			content: "|";
			color: $BLU2;
		}
	}

	#run-now-btn {
		float: right;
	}

	// oneTouch icon / panel
	.one-touch-pane.panel-body {
		padding: 0;
		display: inline-block;
		position: relative;

		&:after {
			content: '';
			display: block;
			margin-top: 35%;

			@media (min-width: $screen-sm-min) {
				margin-top: 100%;
			}
		}

		.one-touch-icon {
			height: 50%;
			width: 100%;
			background: url("/images/icons/myEquipment/icon_one_touch_grey.svg") no-repeat center;
			background-size: contain;

			@media (min-width: $screen-sm-min) {
				height: 36%;
			}
		}
	}

	.include-in-myStatus,
	.pin-to-dash {
		border-top: 1px solid $GRY_LT6;
		padding-top: 40px; // desktop
		padding-bottom: 40px;
	}

	.included-in-text,
	.pin-to-dash-text {
		font-size: 24px; // desktop
		color: $BLU11;
		margin-bottom: 25px; // desktop
	}

	.my-status-tile {
		margin-bottom: 5px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 15px;
		}

		&.col-xs-3 {
			padding: 0 5px;

			@media (min-width: $screen-sm-min) {
				padding: 0 10px; // default bs
			}
		}

		.selected {
			width: 25%;
			height: 25%;
			left: 83%;
			top: -7%;
			min-width: 1px;
			min-height: 1px;
			border-width: 2px;

			@media (min-width: $screen-sm-min) {
				width: 20%;
				height: 20%;
				border-width: 3px;
				left: 86%;
				top: -4%;
			}

			@media (min-width: $screen-md-min) {
				top: -7px;
				border-width: 4px;
			}
		}
	}

	.pin-image {
		display: inline-block;
		width: 30px;
		height: 50px;
		margin-right: 15px;
		background-image: url("/images/icons/myEquipment/icon_unpin_blue.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (min-width: $screen-sm-min) {
			margin-right: 22px;
		}

		&.pin {
			background-image: url("/images/icons/myEquipment/icon_pin_blue_filled.svg");
		}
	}

	.pin-radio {
		@include center-vertical-absolute();
		display: inline-block;

		.salus-radio label {
			padding-top: 4px;
		}

		.radio-toggle {
			width: 30px;
			height: 30px;

			&:after {
				width: 18px;
				height: 18px;
			}
		}

		.radio-text {
			font-size: 15px;
			color: $GRY3;
			white-space: nowrap;
		}
	}
}

.recommended-rules-layout {
	.recommended-title {
		font-size: 22px;
		font-weight: 600;
		color: $BLU3;
		border-bottom: 1px solid $GRY_LT1;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}

	.recommended-rules-composite {
		margin-bottom: 60px;
	}

	.equipment-type {
		font-size: 22px;
		font-weight: 600;
		color: $BLU3;
		margin-bottom: 24px; // desk
	}

	.recommended-rule {
		margin-bottom: 40px;

		// TODO: last 2 if even number
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.icon-wrapper {
		position: relative;

		.one-touch-icon {
			width: 44px;
			height: 44px;
			background: url("/images/icons/myEquipment/icon_one_touch_grey.svg") no-repeat center;
			background-size: contain;

			@media (min-width: $screen-sm-min) {
				width: 60px;
				height: 60px;
			}
		}

		.rule-selected.selected {
			position: absolute;
			top: -10px;
			right: -6px;
			width: 24px;
			height: 24px;
			border: 2px solid $WHT0;
			border-radius: 50%;
			background: url("/images/icons/dashboard/icon_radio_selected.svg") no-repeat center;
			background-size: contain;

			@media (min-width: $screen-sm-min) {
				width: 27px;
				height: 27px;
				border-width: 3px;
			}

			@media (min-width: $screen-md-min) {
				width: 28px;
				height: 28px;
				right: -5px;
				border-width: 4px;
			}
		}
	}

	.text-wrapper {
		vertical-align: top;
		margin-left: 20px;
		color: $GRY3;
		max-width: calc(100% - 74px); // 100% - icon size(44) - 20px left margin - 10px padding

		@media (min-width: $screen-sm-min) {
			max-width: calc(100% - 90px); // 100% - icon size(60) - 20px left margin - 10px padding
		}

		.one-touch-name {
			font-size: 18px;
			font-weight: 600;

			@media (min-width: $screen-sm-min) {
				margin-bottom: 10px;
			}
		}
	}
}

// rule criteria views
.rule-criteria {
	border-bottom: 1px solid $GRY_LT6;
	margin-bottom: 15px;
}

.one-touch-criteria-items {
	.one-touch-criteria-item {
		position: relative; // for delete button
		background-color: $WHT2;
		border-top: 1px solid $GRY_LT6;
		padding: 20px;

		.condition-action-type {
			display: inline-block;
			font-size: 16px;
			color: $BLU1;
			font-weight: 600;
			width: 68%;
			text-transform: uppercase;
		}

		.condition-action-description {
			display: inline-block;
			font-size: 16px;
			color: $BLK1;
			margin-top: 10px;
			width: 68%;

			&.extend {
				width: 100%;
			}
		}

		.delete-button {
			@include center-vertical-absolute();
			right: 20px;
			width: 40px;
			height: 56px;
			background: no-repeat right center / 78%;
			background-image: url("/images/icons/icon_delete_bar.svg");

			&.confirm {
				background-color: $RED2;
				background-image: none;
				right: 0;
				height: 100%;
				width: 100px;
				color: $WHT0;
				text-align: center;
				font-size: 16px;
				padding-top: 46px;
				padding-bottom: 46px;

				@media (min-width: $screen-sm-min) {
					padding-top: 36px;
					padding-bottom: 36px;
				}

				@media (min-width: $screen-md-min) {
					width: 110px;
					padding-top: 36px;
					padding-bottom: 36px;
				}
			}
		}
	}
}

#one-touch-apply-page {
	.title {
		color: $BLU3
	}

	.status-apply-tile {
		margin-bottom: $TILE-BOTTOM-MARGIN;

		.tile-text {
			position: absolute;
			color: $WHT0;
			font-size: 12px;
			bottom: 5%;
			left: 5%;
			width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@media (min-width: $screen-sm-min) {
				font-size: 24px;
				top: 10px;
				bottom: initial;
			}
		}

		.myStatus-selected {
			position: absolute;
			background: no-repeat center;
			background-size: contain;

			&.selected {
				border: 2px solid $WHT0;
				border-radius: 50%;
				width: 27%;
				height: 27%;
				top: -7%;
				left: 81%;
				opacity: 1;
				background-image: url("/images/icons/dashboard/icon_radio_selected.svg");
				background-color: $WHT0;

				@media (min-width: $screen-sm-min) {
					height: 10.36%;
					width: 10.36%;
					top: initial;
					right: 4%;
					bottom: 4%;
					left: initial;
					border-width: 3px;
				}

				@media (min-width: $screen-md-min) {
					border-width: 4px;
				}
			}

			&.deselected {
				border: none;
				width: 15%;
				height: 15%;
				top: 5%;
				left: 79%;
				opacity: 0.5;
				background-image: url("/images/icons/dashboard/icon_radio_not_selected.svg");

				@media (min-width: $screen-sm-min) {
					height: 10.36%;
					width: 10.36%;
					top: initial;
					right: 3.82%;
					bottom: 3.82%;
					left: initial;
				}
			}
		}
	}
}

#one-touch-pin-page {
	.title {
		color: $BLU3;
	}

	.background {
		@include color-gradient-with-angle(145deg, $TILE-BLUE-GRADIENT-TOP, 0%, $TILE-BLUE-GRADIENT-BOTTOM, 100%);
		position: relative;
		max-width: 140px;

		.pin {
			height: 45%;
			width: 45%;
			background: url("/images/icons/dashboard/icon_pin.svg") no-repeat center;
			background-size: contain;
		}

		.unpin {
			height: 40%;
			width: 40%;
			background: url("/images/icons/dashboard/icon_unpin.svg") no-repeat center;
			background-size: contain;
		}

		.pin-text {
			color: $WHT0;
			bottom: 5%;
		}
	}

	.save-button {
		margin-bottom: 20px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 0;
		}
	}

	.bb-pin-tile {
		cursor: pointer;
	}

	.bb-unpin-tile {
		cursor: pointer;
	}

	.selected {
		background-size: contain;
		position: absolute;
		min-width: 25px;
		min-height: 25px;
		border: 4px solid $WHT0;
		border-radius: 50%;
		top: 5%;
		right: 5%;
		background-image: url("/images/icons/dashboard/icon_radio_selected.svg");
	}
}
