<div class="icon-wrapper inline-block">
	<div role="button" class="bb-one-touch-icon one-touch-icon"></div>
	<div class="bb-rule-selected rule-selected"></div>
</div>
<div class="text-wrapper inline-block">
	<div class="bb-one-touch-name one-touch-name"></div>
	<div class="bb-one-touch-description one-touch-description font-size-15"></div>
</div>
