<div class="undo-action-container">
	<div class="title-row">
		<div data-i18n="equipment.oneTouch.menus.thenDoThis.undo.title"></div>
	</div>
	<div class="bb-undo-action-list undo-action-list"></div>
</div>