<!--<div class="bb-icon-degrees-container icon-degrees-container">
	<div class="pull-left weather-icon"></div>
	<div class="pull-left degrees-label-container">
		<div class="degrees-label-base pull-right"><%= degrees %><span class="bb-degrees-label-decimal degrees-label-decimal"><%= decimal %></span></div>
		<div class="degrees-label-metric pull-right"><%= metric %></div>
	</div>
</div>
<div id="weather-separator" class="bb-weather-separator"></div>-->
<div class="gateway-time-container">
	<!--<div class="bb-gateway-time-amPm gateway-time-amPm"></div>-->
	<div class="bb-gateway-time-local gateway-time-local"></div>
</div>