<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title><%= title %></title>

	<!-- Bootstrap -->
	<link href="/css/styles.css" rel="stylesheet">
	<!-- Preload fonts -->
	<style>.preload {position: absolute; visibility: hidden; font-family: 'Open Sans'; }</style>

</head>
<body>
<body class="dashboard-background-color">
<%- include("modules/mainBody.ejs")%>


<div id="bb-background-div" style="height:0px; width: 0px;"></div>

<!--cordova files-->

<%- include("modules/preloadBackgroundImage.ejs")%>

<script src="/js/consumer.js"></script>
<%# Build will swap out inline-js comment for actual js %>
<!-- inline-js -->
</body>
</html>