<div class="bb-breadcrumbs"></div>
<div class="row margin-b-10">
	<div class="col-xs-2 col-sm-1 pull-right">
		<div role="button" class="bb-edit-icon edit-icon pull-right"></div>
	</div>
</div>
<div class="bb-equipment-list">
	<div class="spinner center-block"></div>
</div>
<div class="bb-delete-group delete-group margin-b-20"></div>