<div class="confirm-separator"></div>
<div id="bb-thanks-for-signup" class="thanks-for-signup text-center"></div>
<div class="mail-icon"></div>
<div class="email-info-text" data-i18n="login.confirm.emailSent"></div>
<div class="email-info-text" data-i18n="login.confirm.trustedSender"></div>
<div class="confirm-separator"></div>
<div id="bb-sign-in-link" class="panel panel-tout font-size-15">
	<div class="panel-body text-center">
		<span class="text-color-wht0" data-i18n="login.confirm.ready"></span>
				<span class="no-wrap">
					<a href="/login/signIn" data-i18n="login.login.button" class="margin-l-10 bold-link"></a>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</span>
	</div>
</div>