<div class="row text-center">
	<div class="header-logo margin-t-20">Salus Connected</div>
	<div class="bb-pin-mode"></div>
	<div class="bb-entered-numbers entered-numbers col-xs-12 margin-t-15"></div>
</div>
<div class="row margin-t-10">
	<div class="row margin-t-30 text-center">
		<div data-pin-num="1" role="button" class="bb-pin-number-button pinpad-button col-xs-4">1</div>
		<div data-pin-num="2" role="button" class="bb-pin-number-button pinpad-button col-xs-4">2</div>
		<div data-pin-num="3" role="button" class="bb-pin-number-button pinpad-button col-xs-4">3</div>
	</div>
	<div class="row text-center">
		<div data-pin-num="4" role="button" class="bb-pin-number-button pinpad-button col-xs-4">4</div>
		<div data-pin-num="5" role="button" class="bb-pin-number-button pinpad-button col-xs-4">5</div>
		<div data-pin-num="6" role="button" class="bb-pin-number-button pinpad-button col-xs-4">6</div>
	</div>
	<div class="row text-center">
		<div data-pin-num="7" role="button" class="bb-pin-number-button pinpad-button col-xs-4">7</div>
		<div data-pin-num="8" role="button" class="bb-pin-number-button pinpad-button col-xs-4">8</div>
		<div data-pin-num="9" role="button" class="bb-pin-number-button pinpad-button col-xs-4">9</div>
	</div>
	<div class="row text-center">
		<div role="button" class="bb-clear-pin-button pinpad-button col-xs-4">Clear</div> <!--clears all entries-->
		<div data-pin-num="0" role="button" class="bb-pin-number-button pinpad-button col-xs-4">0</div>
		<div role="button" class="bb-pin-backspace-button pinpad-button col-xs-4">Delete</div>
	</div>
</div>
<div class="row margin-t-20 text-center">
	<div class="bb-pin-status-container pin-status-container col-xs-12 margin-t-15">
		<div class="bb-pin-status hidden" id="pin-status"></div>
	</div>
</div>