<div class="row">
	<div class="email-text-row"></div>
	<div class="password-text-row"></div>
	<div class="col-xs-10 col-xs-offset-2">
		<div class="bb-checkbox login-checkbox"></div>
	</div>
	<div class="col-xs-6 col-xs-offset-3 text-center sign-in-btn-row">
		<div id="sign-in-btn-container" class="sign-in-btn-container"></div>
	</div>    
	<div class="col-xs-12 text-center forgot-password-wrp">
		<a href="/login/forgotPassword" data-i18n="login.login.forgotPassword"></a>
	</div>
	<div class="col-xs-12 text-center send-confirmation-wrp">
		<a href="/login/sendConfirmationEmail" data-i18n="login.login.resendConfirmationEmail"></a>
	</div>
	<div class="col-xs-12">
		<div id="sign-in-link-panel" class="panel panel-tout font-size-15">
			<div class="panel-body text-center">
				<span class="text-color-wht0" data-i18n="login.login.accountMessage"></span>
				<span class="no-wrap">
					<a href="/newUser" data-i18n="login.login.accountLink" class="margin-l-10"></a>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</span>
			</div>
		</div>
	</div>
</div>