<div class="bb-breadcrumbs margin-t-30 status-breadcrumbs"></div>
<div class="bb-edit-name edit-name col-xs-12"></div>
<div class="row bb-heading-row heading-row">
	<div class="col-xs-12 padding-b-10">
		<h2 class="bb-title title pull-left"></h2>
		<div role="button" class="bb-edit edit edit-icon pull-right"></div>
	</div>
	<h4 class="bb-bad-gateway-text bad-gateway-text col-xs-12 hidden" data-i18n="myStatus.makeNewStatus.invalidGateway"></h4>
</div>
<div class="row margin-b-10">
	<div id="bb-icon-region" class="bb-make-status-tile make-status-tile col-xs-4">
		<div class="bb-myStatus-selected myStatus-selected deselected"></div>
	</div>
	<div class="col-xs-12 col-md-8 bb-rule-area rule-area hidden"></div>
</div>
<div class="row row-properties hidden">
	<div role= "button" class="col-xs-12 create-oneTouch">
		<div class="position bb-create-new-one-touch">
			<div class="create-oneTouch-icon margin-l-10 margin-t-5 inline-block pull-right"></div>
			<h4 class="create-oneTouch-text inline-block pull-right" data-i18n="myStatus.makeNewStatus.createNewOneTouch"></h4>
		</div>
	</div>
</div>
<div class="row margin-b-10 save-rules">
	<div class="bb-save-button save-button col-sm-3 col-xs-8 col-xs-offset-2 col-sm-offset-0"></div>
	<div class="bb-cancel-button cancel-button col-sm-3 col-sm-offset-5 col-xs-8 col-xs-offset-2 "></div>
</div>
<div class="row margin-b-50">
	<div class="col-xs-8 col-sm-4 bb-delete-button delete-button hidden"></div>
</div>