<h1 class="col-xs-12 margin-l-25 current-name" data-i18n="common.header.myStatus"></h1>
<div class="bb-input-name input-name col-xs-10 col-sm-6 col-xs-push-0 col-sm-push-0"></div>
<div class="bb-save-button save-button col-xs-12 col-sm-1 pull-right col-sm-pull-3"></div>
<div class="bb-cancel-button cancel-button col-xs-12 col-sm-1 margin-b-60"></div>




