<div role="button" class="bb-welcome-tile-dismiss welcome-tile-dismiss pull-right"></div>
<div class="bb-welcome-tile-title welcome-tile-title" data-i18n="dashboard.welcomeTile.title"></div>
<div class="bb-welcome-tile-description welcome-tile-description" data-i18n="dashboard.welcomeTile.description"></div>
<div class="welcome-tile-background-logo"></div>