<div class="section-text description col-xs-12 text-center" data-i18n="setupWizard.provisioning.customize.pin"></div>
<div class="section-text description col-xs-12 margin-b-35 text-center" data-i18n="setupWizard.provisioning.customize.pinInfo"></div>
<div class="bb-pin-anchor pin-anchor"></div>