<!--<div class="setup-wizard-header"></div>-->
<div class="container">
	<div class="success-image"></div>
	<div class="page-title" data-i18n="setupWizard.provisioning.naming.success"></div>
	<div class="page-description" data-i18n="setupWizard.provisioning.naming.nowConnected"></div>
</div>
<div class="bb-equipment-region equipment-region"></div>
<div class="container">
	<div class="button-wrapper row">
		<div class="bb-next-button col-xs-10 col-sm-6 col-xs-pull-1 col-sm-pull-0 col-sm-push-1 pull-right margin-b-10"></div>
		<div class="bb-back-button col-xs-10 col-sm-6 col-xs-push-1 col-sm-push-2"></div>
	</div>
</div>