<!--<div class="setup-wizard-header"></div>-->
<div class="container">
	<div class="page-title" data-i18n="setupWizard.provisioning.select.letsConnect"></div>
	<!--<div class="bb-page-image page-image"></div>-->
</div>
<div class="bb-equipment-region"></div>
<div class="container">
	<div class="button-wrapper row">
		<div class="bb-connect-button col-xs-10 col-sm-6 col-xs-pull-1 col-sm-pull-0 col-sm-push-1 pull-right margin-b-10"></div>
		<div class="bb-cancel-button col-xs-10 col-sm-6 col-xs-push-1 col-sm-push-2"></div>
	</div>
</div>