<div class="modal-header">
	<h4 class="modal-title" data-i18n="equipment.thermostat.holdPointModal.header"></h4>
</div>
<div class="modal-body">
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" id="optionChangeTemp" value="option1" checked>
			<span data-i18n="equipment.thermostat.holdPointModal.labels.radioUntilChange"></span>
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" id="optionScheduleChange" value="option2">
			<span data-i18n="equipment.thermostat.holdPointModal.labels.radioScheduleChange"></span>
		</label>
	</div>
</div>
<div class="modal-footer">
	<div class="col-xs-12 col-sm-6">
		<button class="btn btn-primary pull-left bb-ok-btn min-width-btn margin-b-10 margin-l-5" type="button"
		        data-i18n="equipment.thermostat.holdPointModal.labels.btnOk"></button>
		<button class="btn btn-default min-width-btn pull-left" type="button"
		        data-i18n="equipment.thermostat.holdPointModal.labels.btnCancel"
		        data-dismiss="modal"></button>
	</div>
	<div class="checkbox col-xs-12 col-sm-6">
		<label class="pull-left">
			<input class="bb-hide-hold-temp-set-modal-checkbox" type="checkbox"><span
				data-i18n="equipment.dialog.checkboxDoNotShowAgain"></span>
		</label>
	</div>
</div>