<div class="bb-interval interval col-xs-12 col-md-10">
	<div class="bb-running-now-bar running-now-bar"></div>
	<div class="bb-time time inline-block"></div>
	<div class="bb-temperature temperature inline-block"></div>
	<div role="button" class="bb-edit-interval edit-icon center-vertical-absolute"></div>
        <div role="button" class="bb-delete-interval delete-icon center-vertical-absolute"></div>
        <div role="button" class="bb-confirm-delete-interval confirm-delete-icon center-vertical-absolute hidden" data-i18n="common.labels.delete"></div>
</div>