<div class="title-row row margin-b-10">
    <div class="bb-title title text-left col-xs-6"></div>
    <div class="col-xs-6">
        <div role="button" class="bb-duplicate-button duplicate-button">
            <div class="duplicate-text text-right" data-i18n="schedules.thermostat.duplicateSchedule.title"></div>
            <div class="duplicate-icon center-vertical-absolute"></div>
        </div>
    </div>
</div>
<div class="schedule-tile col-xs-12 col-md-4">
    <div class="bb-thermostat-icon-container thermostat-icon-container hidden">
        <div class="thermostat-icon-area">
            <div class="thermostat-icon inline-block"></div>
            <div class="chain-area inline-block">
                <div class="chain-icon"></div>
                <div class="bb-tstat-count tstat-count"></div>
            </div>
        </div>
    </div>
    <div class="bb-individual-control-icon bb-arc-group arc-group hidden">
        <div class="bb-tstat-arc tstat-arc"></div>
        <div class="bb-hold-set-temp-status hold-status hidden"><span data-i18n="equipment.thermostat.holdPointModal.holdTitle"></span></div>
        <div class="bb-arc-output arc-output">
            <div class="bb-arc-set-point-temp arc-set-point-temp">0</div>
            <div class="bb-arc-current-temp arc-current-temp">0</div>
        </div>
    </div>
    <div class="bb-tstat-control-group tstat-control-group hidden">
        <div class="bb-center-controls center-controls">
            <div class="bb-main-mode-icon main-mode-icon tstat-control-icon"></div>
            <div class="bb-fan-mode-icon fan-mode-icon tstat-control-icon"></div>
            <div class="bb-hold-mode-icon hold-mode-icon tstat-control-icon"></div>
        </div>
    </div>
    <div class="bb-water-heater-icon-container water-heater-icon-container hidden">
        <div class="water-heater-icon-area center-vertical-horizontal-absolute">
            <div class="water-heater-icon"></div>
        </div>
    </div>
    <div class="bb-smart-plug-icon-container smart-plug-icon-container hidden">
        <div class="smart-plug-icon-area center-vertical-horizontal-absolute">
            <div class="bb-smart-plug-icon smart-plug-icon"></div>
        </div>
    </div>
    <div class="bb-thermostat-collection-region thermostat-collection-region col-xs-12"></div>
    <div class="bb-edit-icon-container edit-icon-container col-xs-12 hidden">
        <div role="button" class="bb-edit-icon edit-icon"></div>
    </div>
</div>
<div class="thermostat-right col-xs-12 col-sm-12 col-md-8">
    <div class="instructions" data-i18n="schedules.thermostat.instructions"></div>
    <div class="bb-schedule-menu thermostat-schedule-menu-region row"></div>
    <div class="bb-schedule-days schedule-days row margin-b-20 visible-md visible-lg"></div>
    <div class="bb-schedule-days-mobile schedule-days row margin-b-20 visible-xs visible-sm"></div>
    <div class="row bb-saved-notifier-row saved-notifier-row">
        <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-0">
            <div class="bb-saved-text saved-text" data-i18n="common.labels.saved"></div>
        </div>
    </div>

    <div class="row buttons">
        <div class="bb-add-button add-button col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-5"></div>
        <div class="bb-cancel-button cancel-button col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-5"></div>
        <div class="bb-default-button default-button col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-5"></div>
        <div class="bb-delete-all-button delete-all-button col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-5"></div>
    </div>
</div>
